.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  background-color: #5B5B5B;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100%;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#map {
  height: 400px;
  width: 100%;
}

.text-center {
  text-align: center !important;
}
.title {
  font-size: 4em;
  font-weight: 700;
}
.text-muted {
  padding: 10px;
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #2CA58D;
    font-size: x-large;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #84BC9C;   
        
}
.option{ 
	color: white;    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: #C29979;
    border-radius: 25%;
}
.option:hover{
    background-color: #2CA58D;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#84BC9C;
}
  
.evaluate,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.evaluate{
	color: white; 
    background-color: #2CA58D;
}
.next{
	color: white; 
    background-color: #2CA58D;
}
button {
  margin-top: 40px;
  width: fit-content;
  padding: 2rem;
  font-size: 2rem;
  background-color: rgb(25, 28, 29);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}
.beginning {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(51, 55, 59);
  border-radius: 8px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}




@media only screen and (min-wdith: 430px) and (max-width: 960px) {
  .navbar {
    position: relative;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }
}
@media only screen and (min-width: 430px) and (max-width: 960px) {
  .text.index h2,
  h3 {
    padding: 10px 0;
  }
}
