body{
	background-image: url(images/BackgroupImageTutorial/background-photo.jpeg);
	background-position: center center ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
@media only screen and (max-width: 767px){
	body{
		/* background-image: url(images/BackgroupImageTutorial/background-photo-mobile-devices.jpeg); */
		background-image: url(images/BackgroupImageTutorial/background-photo.jpeg);

	}
}
header{
	white-space: pre-wrap;
}